[submodule "test/arduino/arduino-core-avr"]
	path = test/arduino-firmware/arduino-core-avr
	url = https://github.com/ljbo82/arduino-core-avr.git
[submodule "test/libcomm"]
	path = test/libcomm
	url = https://github.com/ljbo82/libcomm.git
[submodule "make"]
	path = make
	url = https://github.com/ljbo82/cpp-project-builder-core.git
