[submodule "test/libs/arduino-core-avr"]
	path = test/libs/arduino-core-avr
	url = https://github.com/ljbo82/arduino-core-avr.git
[submodule "test/libs/libcomm"]
	path = test/libs/libcomm
	url = https://github.com/ljbo82/libcomm.git
